<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <title>VibeSync - Login Page</title>
</head>

<body style="background-image: url('{{ url_for('static', filename='/images/Academic-Calendar-header.jpeg') }}'); background-size: cover;">

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h1 class="text-center mb-4" style="font-family: 'Pacifico', cursive;">VibeSync</h1>
                    </div>
                    <div class="card-body">
                        {% if error_message %}
                            <p class="text-danger">{{ error_message }}</p>
                        {% endif %}
                        <form method="post" action="{{ url_for('login') }}">
                            <div class="form-group">
                                <label for="email">Email:</label>
                                <input type="email" class="form-control" id="email" name="email" required>
                            </div>
                            <div class="form-group">
                                <label for="password">Password:</label>
                                <input type="password" class="form-control" id="password" name="password" required>
                            </div>
                            <button type="submit" class="btn btn-success btn-block">Sign In</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
